h1 {
  font-family: "Anton", sans-serif;
  opacity: 0.9;
  font-size: 40px;
  font-weight: 400;
  color: black;
}

h3 {
  font-family: "Anton", sans-serif;
  opacity: 0.9;
  font-size: 40px;
  font-weight: 400;
  color: white;
  border-bottom: 1px solid #eee;
}

.header {
  width: 640px;
  height: 50px;
  border-bottom: 1px solid #eee;
  margin: 20px auto;
}

.main {
  width: 640px;
  height: 100%;
  margin: 0 auto;
  padding: 70px 0;
  background-image: url("./background.png");
  background-size: cover;
}

.counter {
  text-align: center;
  color: white;
}

.button_wrapper {
  text-align: center;
}

.btn {
  font-family: "Anton", sans-serif;
  padding: 8px 24px;
  color: white;
  opacity: 0.9;
  border-radius: 4px;
  margin: 5px;
}

.btn:active {
  box-shadow: none;
  position: relative;
  top: 3px;
}

.btn:hover {
  opacity: 1;
  cursor: pointer;
}

.win {
  background-color: rgb(255, 0, 0);
  box-shadow: 0 3px #880000;
}

.lose {
  background-color: rgb(0, 162, 255);
  box-shadow: 0 3px #000292;
}

.main h1 {
  font-family: "Anton", sans-serif;
  opacity: 0.9;
  font-size: 56px;
  font-weight: 400;
  color: white;
}

.lesson-item:hover {
  background-color: #ccd9ea;
}

.lesson-card {
  display: inline-block;
  width: 28.5%;
  margin-right: 24px;
  text-align: center;
  box-shadow: 0 0 6px #e8e8e8;
  cursor: pointer;
}

.lesson-card2 {
  font-family: "Anton", sans-serif;
  opacity: 0.9;
  font-size: 40px;
  color: white;
  display: block;
  width: 80.5%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 6px #e8e8e8;
}

.lesson-item {
  border-radius: 4px;
  padding: 10px 0 30px;
  margin-left: 5px;
}

.lesson-item2 {
  border-radius: 4px;
  padding: 10px 0 30px;
}

.lesson-item img {
  width: 126px;
}

.lesson-item2 img {
  width: 200px;
}

.lesson-item p {
  font-family: "Anton", sans-serif;
  opacity: 0.9;
  color: white;
  font-size: 40px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-inner {
  position: absolute;
  top: 8%;
  right: 0;
  left: 0;
  width: 480px;
  padding-bottom: 60px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.modal-header {
  height: 8px;
  width: 640px;
  margin-bottom: 60px;
  border-radius: 8px 8px 0 0;
}

.modal-introduction p {
  font-family: "Anton", sans-serif;
  opacity: 0.9;
  font-size: 45px;
  font-weight: 400;
  color: black;
}

.modal-close-btn {
  font-size: 13px;
  color: #8491a5;
  width: 180px;
  padding: 14px 0;
  border: 0;
  background-color: #f0f4f9;
  cursor: pointer;
}

.modal-close-btn:hover {
  color: #8491a5;
  background-color: #ccd9ea;
  transition: 0.3s ease-in-out;
}

.modal-img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 200px;
}

.lesson-wrapper {
  height: 640px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 640px;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin: 20px;
  font-size: 12px;
  color: #b3aeb5;
}

p.warming {
  font-size: 40px;
  font-family: "Anton", sans-serif;
  opacity: 0.9;
}

.start-card {
  display: inline-block;
  margin-right: 24px;
  text-align: center;
  cursor: pointer;
}

.start-item {
  padding: 10px 0 10px;
}

.start-item img {
  width: 126px;
}

.start-item p {
  font-family: "Anton", sans-serif;
  opacity: 0.9;
  color: white;
  font-size: 40px;
}

.lesson-item img {
  width: 200px;
}
